TianShuMedia/RongCloudChannel/.idea/
TianShuMedia/RongCloudChannel/RongCloudChannel/__pycache__/
TianShuMedia/RongCloudChannel/RongCloudChannel/test/
TianShuMedia/RongCloudChannel/*.zip

TianShuData/offline/KuaiShou/.idea/
TianShuData/offline/KuaiShou/KuaiShou/__pycache__/
TianShuData/offline/KuaiShou/KuaiShou/spiders/__pycache__/
TianShuData/offline/KuaiShou/KuaiShou/utils/__pycache__/
TianShuData/offline/KuaiShou/KuaiShou/test/
TianShuData/offline/KuaiShou/*.zip

TianShuData/offline/ProxyIP/.idea/
TianShuData/offline/ProxyIP/ProxyIP/__pycache__/
TianShuData/offline/ProxyIP/*.zip

TianShuData/online/KuaiShou/.idea/
TianShuData/online/KuaiShou/KuaiShou/__pycache__/
TianShuData/online/KuaiShou/KuaiShou/spiders/__pycache__/
TianShuData/online/KuaiShou/KuaiShou/utils/__pycache__/
TianShuData/online/KuaiShou/*.zip

TianShuMedia/NewsCheck/.idea/
TianShuMedia/NewsCheck/NewsCheck/__pycache__/
TianShuMedia/NewsCheck/NewsCheck/test/
TianShuMedia/NewsCheck/*.zip
